
.modalContent{
	left:0;
	right:0;
	margin-left:34%;
	min-height:200px;

}

.modalContent label {
	margin-bottom:2rem;
}

.modalContent input {
	width:200px;
}

.modalContent button {
}

.modalButton {
	margin-top:1rem;
}


/* nameChange */
.nameChange, .passwordChange {
	display:block;
}

.nameChange, .passwordChange > div {
	margin:40px;
}

.nameChange, .passwordChange input {
	height:30px;
	width: 40%;
}

.nameChange, .passwordChange label {
	font-weight : bold;
	padding: 10px;
	margin-right: 10px;
	font-size:large;
}

.nameChangeContainer {
}

.nameChange, .passwordChange button {
	border-radius: 0;
}


.nameChangeInput {
	margin-bottom:2rem;
	width:3rem;
	height:2rem;
}

.nameChangeLabel {
	margin-bottom:2rem;
}




/* deleteUser */

.deleteUser button{
	border-radius: 0;
}

.deleteUser button:hover {
	background-color: #c82121;
}

/* passwordChange */
.passwordChange {


}
