.button {
  border-radius:20%;
  font: inherit;
  border: 1px solid #9A1663;
  background: #9A1663;
  color: white;
  padding: 0.25rem 1rem;
  cursor: pointer;
  margin-right:1rem;
}

.button:hover,
.button:active {
  background: #B71375;
  border-color: #B71375;
}

.button:focus {
  outline: none;
}
