.inquiryButtons {
	margin-bottom: 3rem;
}

.inquiryBody {
	margin-bottom: 3rem;
}

.searchCard {
	width: 100%;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	align-content: space-around;
}


.searchCard label {
	font-weight: bold;
	font-size: large;
}

.query {
	width: 100%;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
}

.searchCard input {
	width: 25%;
	height: 1.7rem;
	align-self: center;
	margin-bottom: 1rem;
	margin-top: 1rem;
	margin-right: 10px;
	margin-left: 3%;
}

.searchCard select {
	width: 5rem;
	align-self: center;
	margin-bottom: 1rem;
}

.searchCard button {
	font-weight: bold;
	font-size: 1.2rem;
	border-radius: 0%;
	align-self: center;

}

.Table {
	font-size: 20px;
	background-color: #f9ecec;
	width: 70%;
}

.Table .key {
	font-weight: bold;
	font-style: italic;
	width: 20%;
}

.Table .val {
	width: 80%;
}

.inquiryModalHeader {
	text-align: center;
	margin: 0 auto;
}


.imageContainer {
	text-align: center;
	margin: 0 auto;
}

.imageContainer img {
	width: 500px;
	height: 500px;
}

.videoContainer {
	text-align:center;
	height:600px;
}

.videoContainer iframe {
	height:100%;
	width:70%;
}

.showtable{
  border-collapse: collapse;
  text-align: left;
  line-height: 1.5;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  margin: 20px 10px;
  margin-left: auto;
  margin-right: auto;
}
.showtable thead th {
  width: 150px;
  padding: 10px;
  font-weight: bold;
  vertical-align: top;
  color: #fff;
  background: #000000;
  margin: 20px 10px;
}
.showtable tbody th {
  width: 150px;
  padding: 10px;
}
/*.showtable td {
  width: 350px;
  padding: 10px;
  vertical-align: top;
}*/

.showtable .img {
	width: 200px;
}

.showtable td img {
  width:100px;
  height:100px;
}

.showtable .koreanName {
	width: 250px;
	font-weight:bold;
}

.showtable .other {
	width: 150px;
}

.showtable .description {
	width: 300px;
}

.showtable even {
  background: #fdf3f5;
}

.showtable-align {
  margin-left: auto;
  margin-right: auto;
}
