.card {
	width:50%;
	height:50%;
	margin:0 auto;
}

.Recommend {
	margin-bottom:2rem;
	margin-top:2rem;

}

.Recommend p {
	color:black;
}

.Recommend > label {
	font-size:large;
	font-weight:bold;
	margin-right:3rem;
}

.Recommend > input {
	width:10%;
	height:1.5rem;
	background-color: #e7eaf6;
	margin-bottom:50px;
}

.RecommendContainer {
	display:flex;
	flex-direction: column;
	justify-content: space-around;
	width:50%;
	height:50%;
	margin: 0 auto;
}

.RecommendContainer > div{
	margin-top:20px;
}

.RecommendContainer h1,h2,h3 {
	color:black;
}

.RecommendCheckBox {
	width:50%;
	margin:auto;
	padding:0;
	position:relative;
}

/* Container */
.RecommendCheckBox ul {
	display:grid;
	list-style-type: none;
	grid-template-rows: 33.33% 33.33% 33.33%;
	grid-template-columns: 33.33% [col-start] 33.33% [col-start] 33.33% [col-start];
}

.RecommendMachineCheckBox{
	width:100%;
	margin:auto;
	padding:rem;
	position:relative;
}

.RecommendMachineCheckBox ul {
	display:grid;
	list-style-type: none;
	grid-template-columns: repeat(5, 20%);

}

.RecommendMachineCheckBox .lists {
	margin:1rem;
}

.RecentBodyData {
	text-align: center;
}

.RecentBodyData button {
	margin-bottom:30px;
	background-color:  #fcfafa;
	color:black;
	font-weight:bold;
	border-radius:5px;
	width:30%;
	height:70px;
}

.RecentBodyData button:hover {
	background-color: #f0d78c;
}

.Submit button {
	margin-top:30px;
	background-color:  #fcfafa;
	color:black;
	font-weight:bold;
	border-radius:5px;
	width:20%;
	height:70px;
}
.Submit button:hover {
	background-color: #f0d78c;
}

.formCheckBox {
	margin-bottom: 4rem;
}

.formCheckBox ul{
	display:flex;
	justify-content: center;

}

.formCheckBox li{
	list-style:none;
	margin:0 auto;
}
