.RootLayout {
  width: 100%;
  font-size: 20px;
}

.RootLayout ul {
  width: 100%;
  list-style-type: none;
  margin: 0;
  padding: 10px;
  top: 0;
  overflow: hidden;
  background-color: #333;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
}

.RootLayout ul li:first-child {
  margin-right: auto;
}

.RootLayout ul div {
  margin-left:auto;
  display:flex;
}

.RootLayout ul li:last-child, li:nth-last-child(2) {
}

#logout {
  float: right;
}

#login {
  float: right;
}

.RootLayout ul li a {
  color: white;
  text-align: center;
  padding: 16px 16px;
  text-decoration: none;
}

.RootLayout li a:hover {
  background-color: #111;
}

.RootLayout .active {
  background-color: #4CAF50;
}

.logoImage {
  width:100px;
  height:40px;
}



.RootLayoutMain {
  margin-top: 5rem;
}

.RootLayoutFooter {
  display: flex;
  position: fixed;
  flex-flow: row wrap;
  font-weight: bold;
  font-family: sans-serif;
  background-color: gray;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 1px;
  text-align: center;
  height: 2%;
  justify-content: center;
}

.RootLayoutFooter a {
  color: black;
  margin-top:100px;
  margin-right:30px;
}

.RootLayoutFooter .child1 {
}

.RootLayoutFooter .child2 {
}
