.RootLayout {
  width:100%;
  font-size: 20px;
}

.RootLayout ul {
  width:100%;
  list-style-type: none;
  margin: 0;
  padding: 10px;
  top: 0;
  overflow: hidden;
  background-color: #333;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
}

.RootLayout ul li:first-child {
  margin-right:auto;
}

.RootLayout ul li:last-child {
  margin-right:auto;
}

#logout {
  float:right;
}

#login {
  float:right;
}

.RootLayout ul li a {
  color: white;
  text-align: center;
  padding: 16px 16px;
  text-decoration: none;
}

.RootLayout li a:hover {
  background-color: #111;
}

.RootLayout .active {
  background-color: #4CAF50;
}
