.RootLayout {
  width: 100%;
  font-size: 20px;
  margin-bottom:6%;
}

.RootLayout ul {
  width: 100%;
  list-style-type: none;
  margin: 0;
  padding: 10px;
  top: 0;
  overflow: hidden;
  background-color: #333;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.RootLayout ul li:first-child {
  margin-right: auto;
}

.RootLayout ul div {
  margin-left:auto;
  display:flex;
}

.RootLayout ul li:last-child, li:nth-last-child(2) {
}


.RootLayoutRight {
  /*margin-right:3%;*/
  padding-right:2.5%;
}

#logout {
  float: right;
}

#login {
  float: right;
}

.RootLayout ul li a {
  color: white;
  text-align: center;
  padding: 16px 16px;
  text-decoration: none;
}

.RootLayout li a:hover {
  background-color: #111;
}

.RootLayout .active {
  background-color: #4CAF50;
}

.logoImage {
  width:100px;
  height:40px;
}



.RootLayoutMain {
  margin-top: 5rem;
}

.RootLayoutFooter {
  display: flex;
  position: fixed;
  flex-flow: row wrap;
  font-weight: bold;
  font-family: sans-serif;
  background-color: gray;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 1px;
  text-align: center;
  height: 2%;
  justify-content: center;
}

.RootLayoutFooter a {
  color: black;
  margin-top:100px;
  margin-right:30px;
}

.RootLayoutFooter .child1 {
}

.RootLayoutFooter .child2 {
}




/* Dropdown Button */
.dropbtn {
  background-color: #04AA6D;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdownContent {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdownContent a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdownContent {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {background-color: #3e8e41;}
